@import "~antd/dist/antd.css";

canvas {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 2em;
}

.input-url {
  width: 80%;
}

.qathena-logo {
  padding-right: 10%;
  float: right;
  margin-top: 0.5em;
  text-align: center;
  width: 8rem;
}

.header {
  text-align: left;
  float: left;
  margin-top: 0.5em;
}

.intro {
  width: 80%;
  text-align: left;
  float: left;
}

.row-body {
  height: 100%;
  min-height: 600px;
}

.loading {
  display: inline-block;
}

.progress-loading {
  width: 20rem;
}

.error {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

.predictions {
  display: inline-block;
  border: 1px solid gray;
  vertical-align: top;
  margin-top: 2em;
  width: 300px;
  border-radius: 3px;
}

.predictions td {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  width: 100%;
}

.predLabel {
  text-align: center;
  padding: 0.5em;
}

.predPercent {
  text-align: left;
}

.predPercentLabel {
  text-align: left;
  float: right;
  padding: 0.8em 0.5em 0 0;
}

.predBar {
  background-color: red;
  width: 50px;
  height: 40px;
}

.interactive {
  margin-top: 1em;
}

.content {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0;
}
