@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

canvas {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 2em;
}

.input {
  width: 45%;
}

.qathena-logo {
  text-align: center;
  margin-top: 2em;
  width: 9%;
}

.header {
  margin-top: 0.5em;
}

.intro {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  display: inline-block;
}

.progress-loading{
  width: 20rem;
}

.error {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

.predictions {
  display: inline-block;
  border: 1px solid gray;
  vertical-align: top;
  margin-top: 2em;
  width: 300px;
  border-radius: 3px;
}

.predictions td {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  width: 100%;
}

.predLabel {
  text-align: center;
  padding: 0.5em;
}

.predPercent {
  text-align: left;
}
.predPercentLabel {
  text-align: left;
  float: right;
  padding: 0.8em 0.5em 0 0;
}
.predBar {
  background-color: red;
  width: 50px;
  height: 40px;
}

.interactive {
  margin-top: 1em;
}
